@import "reset.css";
@import "fonts.css";
.body{
    background-color: #ffffff;
    font-family: Arial;
}
.wrapper{
    width: 1060px;
    height: 100%;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    margin: auto;
}
.sh{
    padding: 45px 50px;
}
.logo{
    margin-bottom: 40px;
}
.menutop{
    background-image:url("..//img/menu.png");
    width: 966px;
    height: 40px;
 }
.menutop ul li{
    float: left;
    line-height: 40px;
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
    width: 100px;
}
.menutop a{
    color: white;
    text-decoration: none;
}
.menutop li:hover{
    margin-left: 25px;
    margin-right: 25px;
    box-shadow: 0 0 3px 1px rgba(250,247,250,1);
    background-color: #333333;
    text-align: center;
    line-height: 40px;
}
.menuleft{
    width: 240px;
    height: 244px;
    border: 1px solid #cccccc;
    margin-top: 45px;
    float: left;
}
.menuleft li{
    border-bottom: 1px solid #cccccc;
    height: 40px;
    line-height: 40px;
}
.menuleft a{
    text-decoration: none;
    color: #666666;
    margin-left: 25px;
}
.menuleft a :last-child{
    border-bottom: none;


}
.menuleft a:hover{
    margin-left: 38px;
    color: #333333;
}
.bike1{
    width: 676px;
    height: 400px;
    border: 1px solid #cccccc;
    background-image: url("../img/bike.png");
    background-position: center;
    background-repeat: no-repeat;
}
.fish{
    width: 676px;
    height: 135px;
    margin-top: 40px;
}
.content{
    margin-top: 45px;
    padding-bottom: 55px;
    display: inline-block;
    margin-left: 40px;
}
.foot1{
    background-image: url("../img/menud.png");
    width: 966px;
    height: 40px;

}
.foot1 li{
    float: left;
    width: 100px;
    line-height: 40px;
    margin-left: 25px;

}
.foot1 a{
    text-decoration: none;
    color: #333333;
}
.cr{
    float: right;
    line-height: 40px;
    margin-right: 25px;
}
.foot1 li:nth-child(2){
    text-decoration: underline;
}

