
.wrapper{}
.sh{

    width: 1060px;
    height: 950px;
    margin: 0 auto;
    box-shadow: 0 0 2px 1px rgba(213, 213, 213, 1);
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}
.logo{
    padding-bottom: 40px;
    width: 145px;
    height: 40px;
}
.menu {
    width: 966px;
    height: 40px;
    background-image: url("../img/menu.png");
    color: #ffffff;
}
.menu ul li{
    float: left;
    margin-right: 85px;
    color: white;
    font-size: 14px;
}
li a{
    margin-left: 25px;
}
.menu ul{
    padding-top: 15px;
}
.menuleft{

    height: 240px;
    width: 236px;
    float: left;
}

.line1, .line2, .line3, .line4, .line5, .line6{
    width: 240px;
    height: 38px;
    border-bottom: solid 1px;
    border-left: solid 1px;
    border-right: solid 1px;


}
.content{
    margin-top: 40px;
}
a {
    text-decoration: none;
}
div a{
    margin-left: 20px;
}
.bike{
    width: 680px;
    height: 400px;
    float: left;
    border: solid 1px #cccccc;
    text-align: center;


}
.menuleft{
    padding-right: 50px;
}
.bike img{
    vertical-align: middle;
}
.fish{
    margin-top: 40px;
    margin-left: 320px;
    padding-bottom: 40px;
}

.foot1{
    margin-top: 40px;

    background-image: (../img/menudown.png);
}
.foot1{
    background-image: url("../img/menudown.png");
    width: 966px;
    height: 40px;
    margin-top: 40px;
}
.foot1 ul li{
    float: left;
    margin-right: 95px;
    margin-top: 14px;
}
.foot2 li{
    margin-left: 25px;
    font-family: sans-serif white;
}
