.head{
    height: 35px;
    background-color: #003399;
    width: 100%;
}
.header{
    width: 1215px;
    height: 35px;
    background-color: #003399;
    margin: 0 auto;
    font-size: 14px;
    position: relative;
}
.header ul{
       float: right;
}
.header li{
    float: left;
    line-height: 35px;
    margin-left: 5px;
    margin-right: 5px;

}
.header a{
    text-decoration: none;
    color: white;
    margin-left: 6px;
    margin-right: 6px;
}
.header li:hover{
    background-color: #3399cc;
}

.minhas {
    position: relative;
    padding-left: 25px;
}
.minhas:before{
    content: "";
    position: absolute;
    background-image: url("../img/flag.png");
    width: 21px;
    height: 23px;
    left: 0;
    top: -5px;
}
.ajuda{
    position: relative;
    padding-right: 10px;
}
.ajuda:after{
    content: "";
    background-image: url("../img/stick.png");
    width: 1px;
    height: 31px;
    position: absolute;
    top: -8px;
    right: -8px;

}
.box:hover{
    padding-bottom: solid 1px  #6699cc;
}

