@import "reset.css";
@import"font.css";
@import "header.css";
body{
    height:100%;
    font-family: 'helvetica_neueregular';

  }

.wrapper{
    background-image: url("../img/fon.png");
    background-repeat: no-repeat;
    width: 1215px;
    height: 1028px;
    margin: 0 auto;
    position: relative;
}
.center{
    width: 560px;
    height: 610px;
    position: absolute;
    left: 25%;
    top: 25%;
}
.up{
    height: 60px;
    background-color: rgba(0, 0, 0, 0.5);
    margin-bottom: 2px;
    text-align: center;
    color: white;
    font-size: 24px;
    line-height: 60px;
}
.down{
    background-color: rgba(0, 0, 0, 0.5);
    height: 550px;
    position: relative;
}
.window{
    position: absolute;
    top: 10%;
    left: 25%;
    width: 275px;
}
.facebook{
    width: 276px;
    height: 35px;
    text-align: center;
}
.line{
    text-align: center;
    line-height: 0;
    margin-top: 25px;
}
.first{
    background-color: #000000;
    font-size: 14px;
    margin-top: 30px;

}
.first:hover, .second:hover, .mail:hover, .choose:hover,.confirm:hover{
    background-color: #336699;
    box-shadow: -1px 0 10px 2px rgba(51,102,153,1);
	color:white;
}
::-webkit-input-placeholder{
	padding-left:20px;
}


.first, .second, .mail, .choose, .confirm{
    width: 270px;
    height: 35px;
    border: black;
}
.second, .mail, .choose, .confirm{
    background-color: #000000;
    font-size: 14px;
    margin-top: 15px;

}
.youbike{

    font-size: 14px;
    margin-top: 20px;
}
.box2{
    color: white;
}
.create{
    background-image: url("../img/button.png");
    width: 151px;
    color: #ccc;
    font-weight: 400;
    height: 37px;
    margin-left: 23%;
    border: #3366cc;
    margin-top: 25px;
    border-radius: 3px;

}
.create a {
    text-decoration: none;
   line-height: 37px;
    /*margin-left: 21px;*/
    font-size: 14px;
    color: white;
    display: block;
    height: 100%;
    text-align: center;
}
.foot{
    position: absolute;
    bottom: 20px;
    left:123px;
    color: white;
    font-size: 11px;
}
span{
  /*  text-align: center;*/
    margin-left: 33%;

}
.input{
    padding: 0 20px;
}